@font-face {
    font-family: bloomlife;
    src:url('./bloomilife.otf');
}

@font-face {
    font-family: monly;
    src:url('./Monly-Serif-Light.otf');
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: monly;
    float: left;
    width: 100%;
    text-align: center;
    background-color: rgb(243,240,238);
    box-sizing: border-box;
  }


/* 
  .nav{
    display: none;
    background: rgba(255,255,255,0.1);
    height: 50px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: red;
  }
  .nav ul{
    margin-right: 20px;
  }
  .nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  .nav ul li a{
    color: black;
    font-size: 28px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .nav ul li a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  } */

  .intro-block {
    width: 100%;
    text-align: center;
    font-family: monly;
    font-size: 60px;
  }

  .parallax{
    width: 100%;
    background-image: url('./images/istockphoto-1365865879-612x612.jpg');
    height: fit-content; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }

  .parallax-alpha{
    background-color: rgba(255,255,255,0.3);
    /* height: 100%; */
    /* Center align text */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    padding-top:50px;
    width: 100%;
    box-sizing: border-box;
  }

  .intro-title {
    font-size: 120px;
    font-family: bloomlife;
    font-weight: 300;
    box-sizing: border-box;
  }
  .intro-title span{
    display: inline-block;
  }

  .divisore {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .fiori{
    height: 300px;
    width: auto;
    background-image: url('./images/fiori.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -150px;  
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  
  .fiori .caricatura {
    height: 60%;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .countdown{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
    /* border-image: url(./images/border.png) 30 stretch; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px 0;
  }

  .countdown ul {
    display: inline-flex;
    list-style-type: none;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 0px;
    padding-left: 0;
    box-sizing: border-box;
  }
  .countdown ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 7vw;
    font-size: 36px;
    font-weight: 700;
    box-sizing: border-box;
  }
  .countdown ul li span{
    font-size: 60px;
    line-height: 65px;
    box-sizing: border-box;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    margin-top: -151px;
    padding: 151px 0 50px 0;
    max-width: 100%;
    width: 100%;
  }
  
  .info-container .info-element {
    flex: 0 1 calc(33%); /* Adjust as needed */
    background-color: #f0f0f0;
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 0; /* Adjust margin as needed */
  }

  


  .card {
    /* border: 1px solid #ccc; 
    border-radius: 8px;*/
    padding: 20px;
    position: relative;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .cover-img{
    height: calc(100vw / 5);
    max-height: 350px;
    box-shadow: 0 0 11px 25px white inset;
    background-size: cover;
    background-position-x:center;
  } 

  .circle-icon {
    visibility: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    background-size: contain;
  }

  .inner-card {
    border: 2px solid black;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
  }

  .corner-circle {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    border: 6px solid white;
    box-sizing: border-box;
  }


  .corner-circle.top-left {
    top: 15px;
    left: 15px;
    box-sizing: border-box;
  }

  .corner-circle.top-right {
    top: 15px;
    right: 15px;
    box-sizing: border-box;
  }

  .corner-circle.bottom-left {
    bottom: 15px;
    left: 15px;
    box-sizing: border-box;
  }

  .corner-circle.bottom-right {
    bottom: 15px;
    right: 15px;
    box-sizing: border-box;
  }

   /* Styling the button */
   .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    position: relative;
  }

  /* Button hover effect */
  .btn:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
    transition: background-color 0.7s ease;
  }

  .inner-card h2 {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 968px) {
    .info-container {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      box-sizing: border-box;
    }
  
    .info-container .info-element {
      flex: 0 1 100%;
      margin-bottom: 20px; /* Adjust margin as needed */
      box-sizing: border-box;
      min-width: 350px;
      max-width: 550px;
      width: 60%;
    }

    .cover-img{
      height: calc(100vw / 3);
      min-height: 225px;
      box-shadow: 0 0 11px 25px white inset;
      background-size: cover;
    } 

    .parallax{
      background-attachment: scroll;
    }
  }

  @media screen and (max-width: 767px) {
    .intro-title span{
      min-width: 100%;
    }
  }

/* 
  @media (max-width: 952px){
    .nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    .nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  } */
